<div class="form">
  <h1 class="form_header">Leave a comment</h1>
  <%= form_with model: @comment, url: user_post_comments_path do |f| %>
    <div class="text_form">
      <%= f.label :text %>
      <%= f.text_area :text, class: 'text-form'%>
    </div>

    <div class="form-submit">
      <%= f.submit "Add Comment" %>
    </div>
  <% end %>
</div>
