<h1>Hello, great User of Ruby on rails</h1>
<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
      <%= render partial: "shared/single_user", locals: { user: user } %>
  <% end %>
</div>
