<div class="post_title"><%= post.title %></div>
<div class="post_body"><%= post.text %></div>

<div class="post_info">
  <div class="post_comments">Comments: <%= post.comments_count %></div>
  <div class="post_likes">Likes: <%= post.likes_count %></div>
</div>
