<div class="post_info">
  <h3 class="post_title"><%= link_to "Post ##{post.id}", user_post_path(params[:id],post.id) %></h3>
  <p class="post_text"><%= post.text %></p>
  <label class="post_label_counts">Comments:<%= post.comments_count %> Likes:<%= post.likes_count %> </label>
</div>
