<div class="user">
  <img src="<%= user.photo%>" class="photo" alt="photo"/>
  <div class="name">
    <div><%= link_to user.name, user_path(user) %></div>
    <div class="user_posts"># of posts: <%= user.post_count %></div>
  </div>
</div>

