<div class="photo">
  <%= image = image_tag(user.photo) %>
</div>
<div class="card">
  <div class="user_name"><%= user.name %></div>
  <div class="user_posts">Number of posts: <%= user.posts_count %></div>
</div>

