<div class="photo">
  <img src="<%= user.photo%>" alt="photo"/>
</div>
<div class="name">
  <div class="user_name"><%= user.name %></div>
  <div class="user_posts"># of posts: <%= user.post_count %></div>
</div>
