.user_bio {
  border: 1px solid rgb(202, 192, 192);
  width: 60%;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
}

.user_bio_title,
.post_count {
  font-size: 16px;
  font-weight: 400;
}

.post_info {
  padding-right: 15px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}

.user_posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  width: 60%;
  list-style: none;
  position: relative;
}

.btn_post {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
