.card {
  display: flex;
  width: 60%;
  margin: 20px auto;
  position: relative;
}

.photo {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(202, 192, 192);
  border-radius: 10px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user_name {
  font-size: 24px;
  align-self: center;
  margin-left: 80px;
}

.user_posts {
  font-size: 14px;
  align-self: end;
  margin: 0 30px 30px 0;
}
